/* body*/
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

main {
    margin-top: 20px;
    margin-left: 10px;
}

h1 {
    color: red;
    font-size: 24px;
    /* Add more styles as desired */
}

/* products in Shop */
.containerProducts {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.productContainer {
    margin: 30px 20px 10px 0px;
}

.productId {
    display: none;
    margin-top: 0px;
    margin-bottom: 0px;
}

.productImages {
    width: 300px;
    height: 200px;
}

.productHeader {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
}

.productDescription {
    font-size: small;
    margin-top: 0px;
    margin-bottom: 0px;
}

.price {
    margin-top: 5px;
    margin-bottom: 1px;
    font-size: 13px;
}

/* Shopping Card Specific */

.cardProductContainer {
    display: inline-grid;
    grid-template-columns: repeat(7, 1fr) auto; /* Adjust the column widths and number of columns as needed */
    align-items: center; /* Align items vertically in the center */
    grid-gap: 0px 20px; /* Adjust the gap between items as needed */
    margin: 0px 0px 20px 0px;
    width: 800px;
  }

.shoppingImagesCard {
    width: 150px;
    height: 100px;
}
.productHeaderCard {
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 0px;
  }

.changeQuantityContainer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.changeQuantityBtn {
    all: initial;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 7px 7px 5px 7px;
}

.changeQuantityBtn:hover {
    background-color: rgb(180, 180, 180);
    transform: scale(1.05);
  }

.changeQuantityInput {
    width: 30px;
    text-align: center;
    border: none;
}

.showQuantityContainer {
    font-size: 10px;
    color: #43484D;
}

.showSumAndDeleteOptionContainer{
    display: inline-flex;
}

.showSum {
align-items: left;
margin-top: 5px;
margin-bottom: 0px;
font-size: 12px;
}

.deletBtn {
    all: initial;
    background-color: rgb(230, 230, 230);
    border-radius: 5px;
    padding: 7px 7px 5px 7px;
    margin-left: 10px;
}